<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Hãy chuyển cho tôi 500 triệu
<img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-1/475764953_1823505461795961_7343318100894508359_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeFEBgDhdXWndKK8K-coi2kn0q_oQAuG1i3Sr-hAC4bWLaNTsFYPr09KzF7JwIULHmntWUhCaqI-GMgs0Nt5arML&_nc_ohc=FkiPcxhMSkAQ7kNvwHgCoE7&_nc_oc=AdmY2g09evaKU4gj9qXyXlYmWbWo228OfAEr9SCxYRwyVF-_Jtyj7BkAUaKdwnoztmuVvDJG2RCPtwBef4wYStzy&_nc_zt=24&_nc_ht=scontent.fhan18-1.fna&_nc_gid=qyIvj8HNqQmRKRh3p8kmbw&oh=00_AfTTScW83Y3_eAOTcYvUI46SoCq5pe7fGc5F9ZyhceuHnw&oe=68783A10">
</body>
</html>